.offcanvas-header {
    display: none;
}
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        margin-top: 0;
    }
    .navbar .nav-item:hover .nav-link {
        color: #f58220;
    }
    .navbar .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }
    .navbar .dropdown-menu.fade-up {
        top: 180%;
    }
    .navbar .nav-item:hover .dropdown-menu {
        transition: 0.3s;
        padding: 0;
        opacity: 1;
        visibility: visible;
        top: 100%;
        top: 72px;
        transform: rotateX(0deg);
    }
}

@media (max-width: 992px) {
    .offcanvas-header {
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.04);
    }
    .navbar-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-image: url(../img/service-bg.png);
        background-position: center center;
        background-size: contain;
        background-color: #9a2410;
        transition: visibility 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
        z-index: 999999;
    }
    .navbar-collapse.show {
        visibility: visible;
        transform: translateX(-100%);
    }
}

@media (max-width: 1179px) and (min-width: 992px) {
   
}

@media (max-width: 991px) and (min-width: 768px) {
    h2 {
        font-size: 38px;
        line-height: 1.1;
    }
    p {
        font-size: 15px;
    }
    .section-padding
    {
        padding: 40px 0
    }
    .section-padding-3
    {
        padding: 0 0 40px
    }
    .section-padding-2
    {
        padding: 40px 0 0 ;
    }
    .newClass .navbar .navbar-nav li a,
    .newClass .navbar .navbar-nav li a span {
        color: #fff !important;
    }
    .navbar-collapse .social-icon a {
        color: #fff !important;
    }
    .navbar-dark .navbar-toggler {
        outline: none;
    }
    .navbar-toggler-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-toggler-icon i {
        display: block;
        color: #f58220;
        font-size: 26px;
    }
    .about .about-block .sub-title {
        margin-bottom: 0;
    }
    .navbar-collapse  .main-info-button
    {
        text-align: center;
    }
    
    /*__________________about____________________________*/
    .about .about_pic
    {
        height: 330px;
        padding-right: 0;
    }
    .about .about_pic img:nth-child(2)
    {
        height: 224px;
        bottom: 48px;
        left: 0;
        width: 60%;
    }

    .testimonials .header-section h2:before
    {
            width: 240px;
            height: 232px;
            left: 78px;
            bottom: 126px;
    }
    /*___________about-page_______*/
    .about-details .details-block li i
    {
        margin-right: 6px;
        font-size: 32px;
        color: var(--button-bg);
        padding: 9px;
        border-radius: 50%;
        box-shadow: 0 10px 40px rgba(var(--ca-dark),.07);
    }
    .about-details .about_pic
    {
        height: 350px
    }
    .vision-block
    {
        display: block;
        text-align: center;
        padding: 10px 12px;
    }
    .vision-block .vision-img
    {
        margin: 0;
        width: 100%
        ;
    }
    .vision-block .vision-content
    {
        margin: 0;
        margin-top:     6px
    }
    .vision-block .vision-content h3
    {
        margin-bottom:  6px
    }
    /*_____________blog______________*/
    .blog-block 
    {
        padding: 0;
        margin-bottom: 20px;
    }
    /*____________testimonial_________*/
    .page .header-section
    {
        margin: 0 2rem 2rem
    }
    .page .header-section h2:before
    {
        display: none;
    }
    /*___blog-details_________*/
    .blog-details .blog-detail h1,
    .related-blog .site-heading- h2
    {
        font-size: 28px;
    }
    .blog-details .blog-detail .detail-date
    {
        border-top: 2px solid #bbbaba;
        border-bottom: 2px solid #bbbaba;
    }
    .blog-block .blog-img
    {
        height: auto;
    }
    .related-blog .blog-block:first-child
    {
        margin: 0;
    }

    /*________contact_________*/
    .contact-inner-section .form-part
    {
        padding: 60px 28px 60px
    }


    /*____________footer_____________*/
    .footer-wrap .footer-first .foot-info .foot-icon
    {
        width: 25%;
        margin: 0;
    }
    
    /*______Collapse____________*/
    .site-header .navbar .navbar-nav li a {
        color: #fff !important;
        padding: 16px 16px 16px 0;
        text-align: center;
        margin-right: 20px;
        margin-left: 20px;
    }
    .site-header .navbar .navbar-nav li:last-child a {
        border-bottom: none;
    }
    .site-header .navbar .navbar-nav li a:hover {
        color: #f58220;
    }
    .site-header .navbar .navbar-collapse .social-icon,
    .site-header .navbar .navbar-collapse .searchbar {
        display: block;
        text-align: center;
        border-left: none;
        margin-top: 16px;
    }
    .site-header .searchbar i {
        font-size: 28px;
    }
    .site-header .navbar .social-icon a {
        font-size: 28px;
    }
    .btn-outline-danger {
        color: #fff;
        border-color: #fff;
    }
    /*_____________breadcrumb___________*/
    .page-details .page-title-wrap-inner {
        height: auto;
        padding: 6rem 0 5rem;
    }
    .services .background .play-button {
        bottom: 2rem;
    }
    .contact-btn {
        color: #a43427;
        border: 1px solid #a43427;
    }
    .contact-btn:hover {
        background: #a43427;
        color: #fff;
    }
    .navbar-collapse .navbar-nav .searchbar {
        display: none;
    }
    .site-header .searchbar i {
        color: #9e271af0;
    }
    .site-header .searchbar i {
        font-size: 28px;
        color: #fff;
        position: relative;
        right: -206px;
    }
    .site-header .togglesearch {
        right: 81px;
    }
    .site-header .togglesearch:before {
        border-bottom: 14px solid #eee;
    }
    /*___________footer__________*/
    .site-footer .footer-second .col-md-6:nth-child(3) {
        border-right: 1px solid rgba(255, 255, 255, 0.04);
        border-top: 1px solid rgba(255, 255, 255, 0.04);
    }
    .site-footer .footer-second .col-sm-12 .bottom {
        padding-bottom: 40px;
    }

   
}

@media (max-width: 767px) {
    h2 {
        font-size: 36px;
    }
    p {
        font-size: 15px !important;
    }
    .section-padding {
        padding: 30px 0 !important;
    }
    .section-padding-3
    {
        padding: 0px 0 30px !important;
    }
    .navbar-collapse .social-icon a {
        color: #fff !important;
    }
    .site-header .togglesearch {
        right: 62px;
    }
    .navbar-toggler {
        outline: none !important;
    }
    .navbar-toggler-icon i {
        color: #f58220;
        font-size: 30px;
    }

/*slick-slider*/
    .Modern-Slider .item h1
    {
        font-size: 34px;
    }
    .site_button
    {
        padding: 13px 22px;
    }
    .Modern-Slider .item .info-2 > div
    {
        padding: 0;
    }
    /*_________.product .product-list________*/
    .product .product-list
    {
        margin-bottom: 15px;
    }
    /*_______________about______________*/
    .about .about_thumb .img_2,
    .about .about_thumb .img_1
    {
        height: 350px
    }
    .about .about_thumb .img_2
    {
        margin-top:     20px
    }
    .about .about-block
    {
        margin-top: 20px;
    }
    .about .about-block .title
    {
        font-size: 36px;
        line-height: 36px;
    }
    .about .about-block .site_button
    {
        margin-top:     0
    }
    /*______________brand___________*/
    .brand-sec .item
    {
        padding: 0 !important;
        margin:  0 !important;
    }

    /*___________foooter_____________*/
    .footer-wrap .footer-first .foot-info
    {
        margin-bottom: 0;
        padding: 30px 0;
    }
    .footer-block
    {
        text-align: left;
    }
    .footer-wrap .footer-first .foot-info:nth-child(2)
    {
        border: none;
    }
    .site-footer ul li>p
    {
        margin: 0;
    }
    .footer-wrap .footer-first .foot-info
    {
        justify-content: center;
        padding: 40px 20px 40px;
        align-items: center;
    }
    .footer-wrap .footer-first .foot-info .foot-text
    {
        width: 76%;
        margin-left: 12px;
    }
    .footer-wrap .footer-first .foot-info .foot-text h4
    {
        font-size: 16px;
    }
    .footer-wrap .footer-first .foot-info .foot-text span
    {
        font-size: 13px;
        line-height: 13px;
    }
    /*__________blog-details_______*/
    .blog-details .blog-detail h1
    {
        font-size: 28px;

    }
    .blog-details .blog-detail .detail-date ul li
    {
        margin-right: 2px;
    }
    .blog-details p
    {
        text-align: justify;
    }
    .blog-details .blog-detail .detail-content ul li
    {
        margin-bottom: 12px;
            font-size: 14px;
            margin-left: 22px;
    }
    .blog-details .blog-detail .blog-content-block h2
    {
        font-size: 24px;
        line-height: 26px;
    }
    .blog-details .blog-detail .blog-content-block h3
    {
        font-size: 16px;
        padding-left: 48px;
    }
    .blog-details .blog-detail .blog-content-block h3:before
    {
        width: 40px;
    }
    .related-blog .blog-block
    {
        margin-bottom: 12px;
    }
    /*___________.info-us_____________*/
    .info-us
    {
        margin-top: 0;
    }
    .about .about_pic
    {
        padding: 0;
        height: 360px;
    }
    .about .about_pic img:nth-child(2)
    {
        height: 250px;
        left: 0;
    }
    .sub-title
    {
        margin: 0;
    }

    .testimonials
    {
        padding: 0
    }
    .testimonials .header-section h2:before
    {
        display: none;
    }
    .main-info-button
    {
        text-align: center;
    }
    .connect-sec .connect-content:first-child
    {
        margin-bottom: 12px;
    }
    .footer-wrap .footer-first .foot-info .foot-icon
    {
        margin-left: 0;
    }

/*_____________about-page___________*/
.about-details .details-block li:first-child
{
    margin-left: 0;
    margin-bottom: 12px;
}
.message .message-block
{
    margin: 0
}
.message .message-block .user-detail h3
{
    font-size: 20px;
}
.message .message-block .user-detail h3 span
{
    font-size: 15px;
}
.message .site-heading
{
    display: block;
}
.message .site-heading h2
{
    text-align: left;
}
.message .site-heading h2:before
{
    left: 0;
}
.message .message-block .message-img .user-img
{
    height: 80px;
    width: 80px;
}
.vision-block {

    margin-bottom: 8px
}
.vision-block .vision-content h3
{
    margin-bottom:  6px
}
/*_________blog_______________*/
.blog .col-lg-4:last-child .blog-block
{
    margin: 0;
}
.blog-block 
{
    padding: 0;
    margin-bottom: 20px;
}
.blog-block .blog-img
{
    height: auto;
}
/*_testimonial______*/
.page .header-section
{
    margin: 0;
}
/*_contact-us_*/
.contact-inner-section .form-part
{
    padding:  40px ;
}

    .site-header .navbar .navbar-nav li a {
        color: #fff !important;
        padding: 16px 16px 16px 0;
        text-align: center;
        margin-right: 20px;
        margin-left: 20px;
    }
    .site-header .navbar .navbar-nav li:last-child a {
        border-bottom: none;
    }
    .site-header .navbar .navbar-nav li a:hover {
        color: var(--button-bg);
    }
    .site-header .navbar .navbar-collapse .social-icon,
    .site-header .navbar .navbar-collapse .searchbar {
        display: block;
        text-align: center;
        border-left: none;
        margin-top: 16px;
    }
  

    .site-header .navbar .social-icon a {
        font-size: 28px;
    }
    .btn-outline-danger {
        color: #fff;
        border-color: #fff;
    }
    /*_about-apge__*/
    .page-details .page-title-wrap-inner {
        height: auto;
        padding: 5rem 0 4rem;
    }
    .services .background .play-button {
        bottom: 2rem;
    }
    .about .about-img .img .years {
        right: 26%;
    }
    /*____________header_____________________*/
   
    .about .about-img .img {
        width: 100%;
        height: 350px;
    }
    .about .about-img .img .years h2 {
        font-size: 144px;
    }
    .about .about-img .img .years h5 {
        font-size: 14px;
    }
    .exp-content {
        margin-top: 2rem;
    }
    .section-padding .site-button {
        margin: 0 auto;
    }
   
    .footer-content {
        margin: 22px 0;
    }
    .col-md-6:last-child .footer-content {
        margin-bottom: 0;
    }

    
    .site-header .navbar .navbar-brand img {
        width: auto;
    }
    .site-header .navbar .navbar-nav {
        margin: 0 !important;
    }
    .site-header .navbar ul li {
        border-right: none;
        padding-right: 6px !important;
        margin-right: 0 !important;
    }
    
    
    .info-site {
        flex-wrap: wrap;
    }
    .info-site p {
        width: 100%;
        text-align: left;
        margin-bottom: 12px;
    }
    /*__________________________details_apge_______*/
    .banner-item.details-item {
        height: calc(45vh - 117px);
        min-height: 160px;
    }
    
    .top-header {
        display: none;
    }
    .detailsPage-sec .detailsPage-content p {
        margin: 15px 0;
        margin-right: 0;
    }
    .detailsPage-sec .detailsPage-content ul {
        font-size: 16px;
        margin: 10px 0 10px 15px;
    }
    .detailsPage-sec .detailsPage-content ul li {
        font-size: 15px;
        line-height: 1.6;
    }

    /*_*/
    .detailsPage-sec .row > .col-lg-4 {
        padding: 0 15px 0 !important;
        margin-bottom: 15px;
    }
    /*_______________contact_____________________*/
    .section-contact {
        padding: 60px 0;
    }
    h1.page-title {
        font-size: 36px;
    }
    
    .contact-btn {
        color: #a43427;
        border: 1px solid #a43427;
    }
    .section-contact {
        padding: 60px 0 0px;
    }
    .contact-btn:hover {
        background: #a43427;
        color: #fff;
    }
    
    /*_________footer___________*/
    .footer-wrap .footer-first {
        flex-wrap: wrap;
    }
    .footer-wrap .footer-first .foot-info {
        width: 100%;
        align-items: center;
    }
    .site-footer .footer-content {
        margin: 0;
        padding: 40px 0;
    }
    .site-footer .footer-second .col-lg-6 {
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.04);
        border-top: 1px solid rgba(255, 255, 255, 0.04);
    }
    .site-footer .footer-second .col-sm-12 .footer-content {
        padding: 40px 0px 0px;
    }
    .site-footer .footer-second .col-sm-12 .bottom {
        padding-bottom: 40px;
    }
    .site-footer .logo-footer p {
        text-align: justify;
    }
    /*__________________event______________________*/
    .page .service-content
    {
        flex-wrap: wrap;
    }
    .page .service-content .feature-img
    {
        width: 100%;
    }
    .page .service-content .para
    {
        width: 100%;
        margin: 0 !important;
        margin-top: 16px !important;
        text-align: justify;
    }

}

@media (max-width: 414px) {
   
}
